<li class="list-group-item my-3 d-flex justify-content-between flex-wrap gap-4 border-top py-3 rounded">

  <div class="d-flex align-items-center gap-2">
    <%= image_tag user.photo, height: 100, width: 100 %>

    <h2><%= user.name %></h2>
  </div>


  <div class="align-self-end d-flex gap-2">

    <a href="/users/<%= user.id %>" class="btn btn-outline-secondary">
      View Profile
    </a>

    <button type="button" class="btn btn-primary">
      Number of posts:
      <span class="badge bg-secondary">
        <%= user.posts_counter ? user.posts_counter : 0 %>
      </span>
    </button>
  </div>

</li>

