<section class="mt-5">

  <div class="bg-light p-3 rounded">
    <h2>Current User: <%= @current_user.name %></h2>
    <%= link_to 'Create Post', "/users/#{@current_user.id}/posts/new", class: 'btn btn-primary' %>
  </div>

  <ul class="list-group mt-5">
    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </ul>

</section>

