<%= render 'user', user: @user %>

<div class="bg-secondary p-5 rounded text-white">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>


<h2 class="text-light mt-4">The Recent Posts</h2>

<ul class="list-group">
  <% @user.recent_posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
</ul>

<a href="/users/<%= @user.id %>/posts" class="btn btn-secondary w-100 mb-5">
  See All Posts
</a>

