<%= form_with model: post do |form| %>

 <div class="mb-3">
    <% form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder:"Enter the Title of the Post" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :text, class:"form-control", placeholder:"Enter the Content of the Post" %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>

<% end %>
